div.seat {
    width: 20px !important;
    height: 23px !important;
    margin: 0 1px;
    border-radius: 3px;
    float: left;
    cursor: pointer;
}

div.free {
    background-color: #00b89c;
}

div.selected {
    background-color: darkorange;
}

div.occupied {
    background-color: red;
    cursor: not-allowed;
}

div.seat:nth-of-type(10) {
    margin-right: 5vw;
}

div.display {
    width: 80%;
    height: 12px;
    background-color: #555;
    margin: 16px auto 28px auto;
}

div.seats-row {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 4px auto;
}

div#app {
    z-index: 2;
    margin-top: -10px;
}

div#login-info {
    display: block;
    position: absolute;
    padding: 5px 20px;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
}
div#login-info span {
    color: #00b89c;
}

div.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

